<%= provide(:title, "Home") %>
<div class="container">
<h1>Discover</h1>
<div class="discover-gallery">
<% @users.each do |user| %>
    <% user.paintings.each do |painting| %>
        <div class="col-md-3 thumbnail-container">
            <%= link_to user_painting_path(user, painting) do%>
                <h2 class="thumbnail-title">
                    <%=painting.title %>
                </h2>
            <% end %>
            <%= image_tag painting.custom_image, class: "img-thumbnail img-fluid", width: "100em" %>
            <% painting.captions.each do |caption|%>
              <% value = caption.caption %>
              <li><%= react_component("TransformSection", { userId: user.id, paintingId: painting.id, value: value, captionId: caption.id }) %></li>
            <% end %>
            <%= react_component("TransformSection", { userId: user.id, paintingId: painting.id, value: '' }) %>
        </div>
    <% end %>
<% end %>
</div>
</div>
